$brand:#383F51;
$border:#EAEAEA;
$text:#222222;
$text-des:#485056;
$bg:#F3F4F2;
$secon:#110DC3;
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;800&display=swap');
body{
	width: 100%;
	font-family: 'Mulish', sans-serif;
}
*{
	outline: none;
	border: 0;
	text-decoration: none;
	font-size: 14px;

}

@import 'resource/system';
@import 'resource/home';
@import 'resource/responsive';

