@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;800&display=swap");
body {
  width: 100%;
  font-family: 'Mulish', sans-serif; }

* {
  outline: none;
  border: 0;
  text-decoration: none;
  font-size: 14px; }

body {
  color: #222222;
  font-size: 14px;
  background-color: #fff; }

a {
  text-decoration: none;
  color: #222222;
  outline: none; }
  a:hover {
    color: #404a63;
    text-decoration: none; }

img {
  max-width: 100%; }

button {
  outline: none; }

h1 {
  font-size: 52px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

p {
  font-size: 14px; }

b, span, label {
  font-size: 13px; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.m10 {
  margin: 10px; }

.m15 {
  margin: 15px; }

.m20 {
  margin: 20px; }

.m25 {
  margin: 25px; }

.m30 {
  margin: 30px; }

.m35 {
  margin: 35px; }

.m40 {
  margin: 40px; }

.m45 {
  margin: 45px; }

.m50 {
  margin: 50px; }

.m55 {
  margin: 55px; }

.m60 {
  margin: 60px; }

.m65 {
  margin: 65px; }

.m70 {
  margin: 70px; }

.ml-0 {
  margin-left: 0; }

.mr-0 {
  margin-right: 0; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.p10 {
  padding: 10px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.p25 {
  padding: 25px; }

.p30 {
  padding: 30px; }

.p35 {
  padding: 35px; }

.p40 {
  padding: 40px; }

.p45 {
  padding: 45px; }

.p50 {
  padding: 50px; }

.p55 {
  padding: 55px; }

.p60 {
  padding: 60px; }

.p65 {
  padding: 65px; }

.p70 {
  padding: 70px; }

.pl-0 {
  padding-left: 0; }

.pr-0 {
  padding-right: 0; }

.pt-0 {
  padding-top: 0; }

.pb-0 {
  padding-bottom: 0; }

section {
  padding: 50px 0;
  display: inline-block;
  width: 100%;
  overflow: hidden; }
  section.bg-gray {
    background: #F3F4F2; }

.selected {
  color: #333 !important; }

.container {
  max-width: 1400px; }

.center {
  text-align: center; }

.display-none {
  display: none; }

/*-------------------------- button ------------------------------*/
.btn-action a {
  padding: 8px 12px 10px 12px;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  background: #4993a8;
  border: 1px solid #4993a8;
  font-size: 13px;
  font-weight: 500;
  height: 35px;
  text-align: center; }
  .btn-action a i::before {
    font-size: 14px;
    margin-right: 5px; }
  .btn-action a:hover {
    color: #4993a8;
    display: inline-block;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }

.btn-disable a {
  background-color: #D9D9D9;
  border: 0; }

/*-------------------------- HEADER ------------------------------*/
.header-secon {
  background-color: #fff;
  height: 55px;
  padding: 10px;
  position: relative; }

.logo {
  display: inline-block;
  margin-right: 15px; }

.header-top {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  padding: 10px 15px 10px 15px;
  background-color: #fff;
  border-bottom: 1px solid #EAEAEA;
  height: 45px;
  z-index: 3; }
  .header-top .header-left {
    float: left; }

.account .dropdown-item.active, .account .dropdown-item:active {
  background-color: #f8f9fa; }
.account:hover .dropdown-menu {
  display: block !important;
  top: 27px;
  left: -85px; }
.account .dropdown {
  margin-top: 10px; }
  .account .dropdown .dropdown-menu {
    border: 1px solid #93939326; }
    .account .dropdown .dropdown-menu .dropdown-item {
      color: #333;
      font-size: 14px; }
.account button {
  background: none;
  border: 0;
  color: #c4c4c4;
  font-size: 18px; }
  .account button:focus {
    outline: 0; }

.account {
  position: relative;
  margin-left: 10px;
  display: inline-flex;
  align-items: center; }
  .account img {
    width: 30px;
    height: 30px;
    border-radius: 100%; }
  .account p {
    font-size: 16px;
    color: #222222;
    margin: 10px 5px;
    white-space: nowrap; }
  .account .arrow-down {
    text-decoration: none;
    color: #777777;
    margin-top: 12px;
    margin-left: 5px; }

/* Search-filed */
.search-filed {
  width: 214px;
  position: relative; }
  .search-filed input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #699BF7;
    border-radius: 40px;
    padding: 0 10px;
    height: 35px;
    outline: none;
    padding-left: 30px;
    color: #777777; }
    .search-filed input::placeholder {
      font-size: 12px;
      color: #696A6B; }
  .search-filed i {
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 15px;
    color: #696A6B; }

/*-------------------------- Main CONTENT  ------------------------------*/
.main-content {
  height: 100%;
  width: 100%;
  padding-left: 200px; }
  .main-content .content-left {
    position: fixed;
    width: 200px;
    height: 100%;
    left: 0;
    top: 0;
    background: #404a63;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
    padding: 10px; }
    .main-content .content-left .danh-muc-ques .title-danhmuc {
      display: flex; }
      .main-content .content-left .danh-muc-ques .title-danhmuc img {
        margin-right: 5px; }
      .main-content .content-left .danh-muc-ques .title-danhmuc .title-left-ques {
        font-size: 18px;
        line-height: 18px;
        color: #222222;
        margin: 0;
        font-weight: 600; }
    .main-content .content-left .danh-muc-ques .menu-admin {
      padding-left: 0; }
      .main-content .content-left .danh-muc-ques .menu-admin li {
        list-style: none; }
        .main-content .content-left .danh-muc-ques .menu-admin li.active a {
          color: white;
          background-color: #4993a8;
          padding: 5px 8px;
          border-radius: 4px; }
        .main-content .content-left .danh-muc-ques .menu-admin li a {
          display: block;
          margin-top: 10px;
          font-size: 14px;
          color: #fff;
          text-decoration: none;
          padding: 5px 8px; }
          .main-content .content-left .danh-muc-ques .menu-admin li a img {
            margin-right: 10px; }
          .main-content .content-left .danh-muc-ques .menu-admin li a:hover {
            color: white;
            background-color: #4993a8;
            padding: 5px 8px;
            border-radius: 4px; }
  .main-content .content-right {
    position: relative; }

/* -----------Title------------- */
.main-title a {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #222222; }

/*--------------------- Table ----------------------*/
.table-lead {
  width: 100%;
  border: 1px solid #EAEAEA;
  border-spacing: initial;
  color: #222222;
  border-radius: 4px;
  white-space: nowrap;
  text-align: center; }
  .table-lead tr:hover {
    background-color: #f0f5f9;
    cursor: pointer; }
  .table-lead thead {
    background: #EAEAEA;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    color: #222222; }
    .table-lead thead tr th {
      padding: 10px; }
  .table-lead tbody tr td {
    padding: 10px;
    border-top: 1px solid #EAEAEA; }

/*--------------- Scroll--------------- */
.scrollbar {
  width: 100%;
  margin: auto;
  overflow-x: auto; }

#wrapper {
  text-align: center;
  width: 100%;
  margin: auto; }

/*
 *  STYLE 1
 */
#style-1::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #b4b9bc; }

#style-1::-webkit-scrollbar {
  height: 2px;
  background-color: #b3b6b8; }

#style-1::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #8a8b8b; }

/* ------------Pagging------------------ */
.pagging-page {
  width: 100%;
  display: flex;
  margin-top: 25px;
  justify-content: right; }
  .pagging-page ul li a, .pagging-page ul li span {
    width: 25px;
    height: 25px;
    margin: 0 3px;
    text-align: center;
    font-size: 11px;
    display: inline-block;
    text-decoration: none;
    color: #222222;
    padding: 5px; }
    .pagging-page ul li a.active, .pagging-page ul li span.active {
      border: 1px solid #404a63 !important;
      color: #404a63;
      border-radius: 4px; }
  .pagging-page ul li:hover a {
    color: #404a63; }

/* -----------------Breadrum----------------------------- */
.breadcrumb-box {
  display: inline-block;
  width: 100%;
  padding-top: 15px; }
  .breadcrumb-box nav li::before {
    opacity: .4; }
  .breadcrumb-box nav li:hover {
    cursor: pointer; }
  .breadcrumb-box nav ol {
    background: none; }
  .breadcrumb-box a {
    font-size: 12px;
    color: #6A6A6A; }
  .breadcrumb-box .breadcrumb-item.active {
    color: #6A6A6A;
    font-size: 12px; }

/* --------------Input-filed-text---------------------*/
input {
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  height: 35px;
  padding-left: 10px;
  margin-right: 0;
  width: 100%; }
  input::placeholder {
    font-size: 12px;
    color: #6E7A8A; }
  input:focus {
    border: 1px solid #404a63; }

.input-filed {
  width: 100%;
  margin: 7px 0;
  position: relative; }
  .input-filed label {
    color: #222222;
    font-weight: 600;
    text-align: right;
    float: left;
    margin: 0;
    margin-top: 8px;
    padding-right: 10px; }

.popup .input-filed {
  padding-left: 114px;
  position: relative; }
.popup label {
  width: 114px;
  position: absolute;
  left: 0; }

/* --------------Attach file--------------------*/
.attach-file {
  color: #222222;
  font-weight: 600;
  margin-right: 15px; }
  .attach-file .btn-file {
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    height: 35px;
    width: 105px; }
    .attach-file .btn-file i {
      font-size: 18px;
      transform: rotate(45deg); }

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }
  .input-file + .js-labelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 6px 20px 10px 20px;
    cursor: pointer;
    margin-bottom: 0; }

/* ---------------Table lead 02------------------- */
.table-lead-02 {
  margin-top: 15px;
  padding: 0; }
  .table-lead-02 .ma-nv {
    margin: 0 20px;
    font-size: 14px; }
  .table-lead-02 .hoten-nv {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal; }
  .table-lead-02 li {
    display: inline-grid;
    border-right: 1px solid #EAEAEA;
    padding: 0; }
    .table-lead-02 li a {
      padding: 10px 0;
      border-bottom: 1px solid #EAEAEA;
      display: flex; }
      .table-lead-02 li a:last-child {
        border-bottom: 0; }

/* --------------Checkbox-------------------- */
.input-custom {
  display: none; }

.label-custom {
  color: #485056;
  line-height: 1.2;
  display: flex;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  align-items: center;
  font-size: 14px;
  margin-bottom: 15px; }
  .label-custom:checked {
    color: #4993a8 !important; }
  .label-custom:before {
    content: "\e64c";
    font-family: "themify";
    font-size: 16px;
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 1;
    border: 1px solid #485056;
    box-sizing: border-box;
    border-radius: 4px;
    left: 0;
    top: 55%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.label-custom:checked {
  color: #404a63 !important; }

.input-custom:checked + .label-custom::before {
  color: #404a63;
  background-color: transparent;
  border: 1px solid #404a63; }

.input-custom:checked + .label-custom {
  color: #404a63 !important; }

/* ------------------- Selecbox -------------------*/
/* Custom select box */
.custom-select {
  height: 35px;
  background-color: transparent;
  border-radius: 4px;
  border: 0;
  position: relative;
  padding: 0;
  background: none;
  width: 160px; }

.custom-select select {
  display: none;
  /*hide original SELECT element: */ }

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  color: #485056;
  top: 18px; }

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #222222;
  padding: 8px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-size: 14px; }

/* Style items (options): */
.select-items {
  padding: 0 0;
  overflow: hidden;
  width: 100%;
  position: absolute;
  background-color: white;
  bottom: 25px;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  box-shadow: -1px 1px 14px rgba(138, 139, 159, 0.15); }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  background-color: #F4F5F9; }

/*  ----------------------- Popup-------------------- */
.nav-link.DSVisiter.active {
  color: #4993a8;
  background-color: #cdcde6;
  padding: 5px 8px;
  border-radius: 4px; }

.popup-medium .popup {
  width: 1100px; }

.overlay {
  z-index: 3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0; }

.overlay:target {
  visibility: visible;
  opacity: 1; }

.popup {
  margin: 30px auto;
  padding: 0;
  background: #fff;
  border-radius: 4px;
  width: 100%;
  position: relative; }

.popup h3 {
  margin-top: 0;
  font-size: 16px;
  text-align: left;
  background-color: #F3F2F2;
  color: #222222;
  padding: 8px 5px 8px 20px;
  margin-bottom: 0;
  border-radius: 4px 4px 0 0; }

.popup .close {
  position: absolute;
  top: -30px;
  right: 0px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  opacity: 1;
  text-shadow: none; }

.popup .content {
  padding: 10px; }

.edit-popup {
  position: absolute;
  right: 30px;
  top: 0;
  cursor: pointer; }

/*--------------------- LOGIN ----------------------*/
#login {
  padding: 15px 20px;
  background-color: #404a63;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  border: 1px #404a63 solid; }
  #login:hover {
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 4px;
    font-size: 16px;
    color: #404a63;
    border: 1px #404a63 solid; }

.login-section-wrapper {
  padding: 0 30px;
  margin-top: 0;
  height: 100% !important;
  display: flex;
  align-items: center !important; }

.brand-wrapper {
  padding-top: 7px;
  padding-bottom: 8px;
  margin-bottom: 20px; }
  .brand-wrapper .logo {
    height: 100px; }

.login {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff; }
  .login .col-sm-6 {
    padding: 0; }
  .login-section-wrapper {
    display: flex;
    padding: 68px 100px; }
  .login-wrapper {
    width: 350px;
    max-width: 100%;
    padding-top: 24px;
    padding-bottom: 24px; }
    .login-wrapper label {
      font-size: 14px;
      color: #222222; }
    .login-wrapper .form-control {
      border: 1px solid #EAEAEA;
      border-radius: 4px;
      padding: 9px 10px;
      min-height: 45px;
      font-size: 14px;
      font-weight: normal; }
      .login-wrapper .form-control::placeholder {
        color: #b0adad; }
    .login-wrapper .login-btn {
      margin-bottom: 14px;
      margin-top: 25px;
      text-transform: uppercase;
      background-color: #383F51 !important;
      color: white !important;
      height: 45px !important;
      border: 1px solid transparent; }
      .login-wrapper .login-btn .btn-comon {
        -webkit-appearance: button-bevel;
        padding: 15px 20px;
        background-color: #404a63;
        border-radius: 130px;
        font-size: 16px;
        color: #fff; }
      .login-wrapper .login-btn:hover {
        color: #383F51 !important;
        background-color: white !important;
        border: 1px solid #383F51; }
    .login-wrapper a.forgot-password-link {
      color: #485056;
      font-size: 14px;
      display: block;
      margin-bottom: 54px;
      text-align: center; }
      .login-wrapper a.forgot-password-link:hover {
        text-decoration: none; }
    .login-wrapper-footer-text {
      font-size: 16px;
      color: #222222;
      margin-bottom: 0; }
  .login-title {
    font-size: 30px;
    color: #222222;
    font-weight: bold;
    margin-bottom: 25px; }
  .login-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: left; }
  .login .custom-control-label {
    color: #485056 !important; }

/* --------------- UPDATE LABEL --------------*/
.label-red {
  color: #C20C38;
  font-weight: 600; }

.label-red-bg {
  color: #fff;
  background-color: #C90707;
  font-weight: 600;
  width: auto;
  height: 25px;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer; }

.label-green-bg {
  color: #fff;
  background-color: #00972A;
  font-weight: 600;
  width: auto;
  height: 25px;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer; }

.label-green {
  color: #00972A;
  font-weight: 600; }

.label-blue {
  color: #4993a8;
  font-weight: 600; }

/* --------------- END UPDATE LABEL --------------*/
/* ---------------  UPDATE NÚT SEARCH --------------*/
.btn-action.btn-search a {
  padding: 8px 5px 10px 12px;
  background: #3399FF;
  border: 1px solid #3399FF; }
  .btn-action.btn-search a:hover {
    background: #fff;
    border: 1px solid #3399FF;
    color: #222222; }

/* ---------------  UPDATE NÚT THÊM --------------*/
.btn-action.btn-add a {
  padding: 8px 15px 10px 20px;
  background: #3399FF;
  border: 1px solid #3399FF;
  border-radius: 20px; }
  .btn-action.btn-add a:hover {
    background: #fff;
    border: 1px solid #3399FF;
    color: #222222; }

/* ---------------  UPDATE POPUP ĐIỀU KIỆN SEARCH --------------*/
.btn-filter {
  position: relative; }

.btn-back {
  cursor: pointer; }

.popup-bo-loc {
  display: none; }
  .popup-bo-loc.show-filter {
    display: block;
    position: absolute;
    top: 100px;
    right: 15px;
    margin: 10px 0;
    padding: 30px;
    width: 600px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); }
  .popup-bo-loc .box-btn {
    display: flex; }
    .popup-bo-loc .box-btn .btn-action.btn-back a {
      margin: 0 10px;
      padding: 8px 15px 10px 20px;
      background: #fff;
      border: 1px solid #C20C38;
      border-radius: 6px;
      color: #C20C38;
      font-size: 14px; }
      .popup-bo-loc .box-btn .btn-action.btn-back a:hover {
        background: #C20C38;
        border: 1px solid #C20C38;
        color: #fff; }
    .popup-bo-loc .box-btn .btn-action.btn-filters a {
      margin: 0 10px;
      padding: 8px 15px 10px 20px;
      background: #fff;
      border: 1px solid #0C4EF5;
      border-radius: 6px;
      color: #0C4EF5;
      font-size: 14px; }
      .popup-bo-loc .box-btn .btn-action.btn-filters a:hover {
        background: #0C4EF5;
        border: 1px solid #0C4EF5;
        color: #fff; }

/*-------------------------- Số liệu dashboard ------------------------------*/
.box-statistic {
  margin: 0; }

.statistic-01, .statistic-02, .statistic-03 {
  color: white;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .statistic-01 img, .statistic-02 img, .statistic-03 img {
    width: 50px;
    height: 50px; }
  .statistic-01 a, .statistic-02 a, .statistic-03 a {
    font-size: 22px;
    text-transform: uppercase;
    text-align: center; }
  .statistic-01 span, .statistic-02 span, .statistic-03 span {
    font-size: 36px;
    font-weight: 600; }

.statistic-01 {
  background-color: #FFA0A0; }

.statistic-02 {
  background-color: #FEB700; }

.statistic-03 {
  background-color: #5691FF; }

/*-------------------------- End Số liệu dashboard ------------------------------*/
@media only screen and (max-width: 1601px) {
  .container {
    max-width: 1200px; } }
/*-------------------------- @media 1200px------------------------------*/
/*-------------------------- @media 950px------------------------------*/
/*-------------------------- @media 767px------------------------------*/
.pop-up-newsletter .flex-column {
  -ms-flex-direction: inherit !important;
  flex-direction: inherit !important;
  margin-left: 15px; }

.pop-up-newsletter .contents {
  position: absolute;
  right: 0;
  top: -50px; }

.pop-up-newsletter .tab-content input {
  margin-left: 0; }

.pop-up-newsletter .subscribe-area .filed-history {
  display: initial; }

.main-content.hide-content-left {
  padding-left: 30px; }
  .main-content.hide-content-left .ti-angle-double-right {
    display: block !important; }
  .main-content.hide-content-left .ti-angle-double-left {
    display: none;
    cursor: pointer; }
  .main-content.hide-content-left .content-left {
    width: 30px; }
    .main-content.hide-content-left .content-left .danh-muc-ques, .main-content.hide-content-left .content-left .logo-tek {
      display: none; }
  .main-content.hide-content-left .box-btn-menu {
    width: 30px; }

.box-btn-menu {
  justify-content: center;
  padding: 15px;
  left: 0;
  background: #333B52;
  position: fixed;
  bottom: 0;
  width: 200px;
  display: flex;
  align-items: center;
  color: white; }
  .box-btn-menu .ti-angle-double-right {
    display: none; }
  .box-btn-menu .logo-tek {
    width: 100px;
    margin-right: 30px !important; }
  .box-btn-menu .menu-mobile .ti-angle-double-left {
    font-size: 24px; }
  .box-btn-menu .menu-mobile .ti-angle-double-right {
    font-size: 24px; }

.content-right .header-top {
  padding-left: 0; }
.content-right .content {
  margin: 0 15px; }

.header-secon .search-filed {
  float: left; }
.header-secon .box-header-right {
  float: right; }
  .header-secon .box-header-right #time-book {
    margin-right: 0;
    width: 135px; }
.header-secon .btn-action {
  display: inline-block; }

.btn-khac {
  display: inline-block; }
  .btn-khac a {
    background-color: #DFDFDF;
    border: 1px solid #DFDFDF; }

.contents {
  padding: 0 10px; }
  .contents .table-system .label-custom {
    padding-left: 0;
    margin-bottom: 0; }

.icon-chuc-nang {
  margin-right: 5px;
  cursor: pointer; }

.pagging-page {
  align-items: center; }
  .pagging-page .custom-select {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 15px; }
    .pagging-page .custom-select label {
      margin-bottom: 0; }
  .pagging-page .pagination {
    margin-bottom: 0; }

.btn-filter {
  margin-left: 10px;
  cursor: pointer; }

.box-filed {
  background-color: #fff;
  padding: 10px;
  margin: 5px; }

.box-nuoi-benh {
  height: 250px;
  display: flex; }
  .box-nuoi-benh .box-nguoi-nuoi-benh, .box-nuoi-benh .box-dang-nuoi-benh, .box-nuoi-benh .box-chua-nuoi-benh {
    border: 1px solid #699BF7;
    border-radius: 4px;
    padding: 40px;
    color: #485056;
    font-size: 18px;
    font-weight: 400;
    text-align: center; }
    .box-nuoi-benh .box-nguoi-nuoi-benh a, .box-nuoi-benh .box-dang-nuoi-benh a, .box-nuoi-benh .box-chua-nuoi-benh a {
      color: #525252; }
  .box-nuoi-benh .box-nguoi-nuoi-benh span {
    font-size: 24px;
    color: #02399F; }
  .box-nuoi-benh .box-dang-nuoi-benh {
    padding: 12px; }
    .box-nuoi-benh .box-dang-nuoi-benh span {
      color: #0CA537; }
  .box-nuoi-benh .box-chua-nuoi-benh {
    padding: 12px; }
    .box-nuoi-benh .box-chua-nuoi-benh span {
      color: #E00000; }

/*-------------------------------------------------------------------- @media 1600px ----------------------------------------------------------------------*/
/*-------------------------------------------------------------------- @media 1200px ----------------------------------------------------------------------*/
/*-------------------------------------------------------------------- @media 950px ----------------------------------------------------------------------*/
/*-------------------------------------------------------------------- @media 767px ----------------------------------------------------------------------*/

/*# sourceMappingURL=style.css.map */
