$brand:#404a63;
$border:#EAEAEA;
$text:#222222;
$text-des:#485056;
$bg:#F3F4F2;
$secon:#4993a8;
.pop-up-newsletter .flex-column {
    -ms-flex-direction: inherit !important;
    flex-direction: inherit !important;
    margin-left: 15px;
}
.pop-up-newsletter .contents{
      position: absolute;
      right: 0;
      top: -50px;
  }
.pop-up-newsletter .tab-content input { 
    margin-left: 0;
}
.pop-up-newsletter .subscribe-area .filed-history{  
    display: initial;
}
.main-content{
    &.hide-content-left{
        padding-left: 30px;
        .ti-angle-double-right{
            display: block !important;
        }
        .ti-angle-double-left{
            display: none;
            cursor: pointer;
        }
        .content-left{
            width: 30px;
            .danh-muc-ques, .logo-tek{
                display: none;
            }
        }
        .box-btn-menu{
            width: 30px;
        }
    }
    
}
.box-btn-menu{
    .ti-angle-double-right{
        display: none;
    }
    justify-content: center;
    padding: 15px;
    left: 0;
    background: #333B52;
    position: fixed;
    bottom: 0;
    width: 200px;
    display: flex;
    align-items: center;
    color: white;
    
    .logo-tek{
        width: 100px;
        margin-right: 30px !important;
    }
    .menu-mobile{
        .ti-angle-double-left {
            
            font-size: 24px;
        }
        .ti-angle-double-right {
            font-size: 24px;
            
        }
        
    }
}

.content-right{
    .header-top{
        padding-left: 0;
       
    }
    .content{
        margin: 0 15px;
    }
}
.header-secon{
    .search-filed {
        float: left;
    }
    .box-header-right{
        float: right;
        #time-book{
            margin-right: 0;
            width: 135px;
        }
    } 
    .btn-action{
        display: inline-block;
    }
}
.btn-khac{
    display: inline-block;
   a{
    background-color: #DFDFDF;
    border: 1px solid #DFDFDF; ;
   }
}
.contents{
    padding: 0 10px;
    .table-system{
        .label-custom {
           padding-left: 0;
           margin-bottom: 0;
        }
    }
}
.icon-chuc-nang{
    margin-right: 5px;
    cursor: pointer;
}
.pagging-page{
    align-items: center;
    .custom-select{
        display: flex;
        justify-content: right;
        align-items: center;
        margin-right: 15px;
        label{
            margin-bottom:0;
        }
    }
    .pagination{
        margin-bottom: 0;
    }
}
.btn-filter{
    margin-left: 10px;
    cursor: pointer;
}
.box-filed{
    background-color: #fff;
    padding: 10px;
    margin: 5px;
}
.box-nuoi-benh{
    height: 250px;
    display: flex;
    
    .box-nguoi-nuoi-benh , .box-dang-nuoi-benh, .box-chua-nuoi-benh{
        border: 1px solid #699BF7;
        border-radius: 4px;
        padding: 40px;
        color: #485056;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        a{
            color: #525252;
        }
    }
    .box-nguoi-nuoi-benh{
        span{
            font-size: 24px;
            color: #02399F;
            
        }
    }
    .box-dang-nuoi-benh{
        padding: 12px;
        span{
            color: #0CA537;
        }
    }
    .box-chua-nuoi-benh{
        padding: 12px;
        span{
            color: #E00000;
        }
    }
}

