.pop-up-newsletter .flex-column {
  -ms-flex-direction: inherit !important;
  flex-direction: inherit !important;
  margin-left: 15px; }

.pop-up-newsletter .contents {
  position: absolute;
  right: 0;
  top: -50px; }

.pop-up-newsletter .tab-content input {
  margin-left: 0; }

.pop-up-newsletter .subscribe-area .filed-history {
  display: initial; }

.main-content.hide-content-left {
  padding-left: 30px; }
  .main-content.hide-content-left .ti-angle-double-right {
    display: block !important; }
  .main-content.hide-content-left .ti-angle-double-left {
    display: none;
    cursor: pointer; }
  .main-content.hide-content-left .content-left {
    width: 30px; }
    .main-content.hide-content-left .content-left .danh-muc-ques, .main-content.hide-content-left .content-left .logo-tek {
      display: none; }
  .main-content.hide-content-left .box-btn-menu {
    width: 30px; }

.box-btn-menu {
  justify-content: center;
  padding: 15px;
  left: 0;
  background: #333B52;
  position: fixed;
  bottom: 0;
  width: 200px;
  display: flex;
  align-items: center;
  color: white; }
  .box-btn-menu .ti-angle-double-right {
    display: none; }
  .box-btn-menu .logo-tek {
    width: 100px;
    margin-right: 30px !important; }
  .box-btn-menu .menu-mobile .ti-angle-double-left {
    font-size: 24px; }
  .box-btn-menu .menu-mobile .ti-angle-double-right {
    font-size: 24px; }

.content-right .header-top {
  padding-left: 0; }
.content-right .content {
  margin: 0 15px; }

.header-secon .search-filed {
  float: left; }
.header-secon .box-header-right {
  float: right; }
  .header-secon .box-header-right #time-book {
    margin-right: 0;
    width: 135px; }
.header-secon .btn-action {
  display: inline-block; }

.btn-khac {
  display: inline-block; }
  .btn-khac a {
    background-color: #DFDFDF;
    border: 1px solid #DFDFDF; }

.contents {
  padding: 0 10px; }
  .contents .table-system .label-custom {
    padding-left: 0;
    margin-bottom: 0; }

.icon-chuc-nang {
  margin-right: 5px;
  cursor: pointer; }

.pagging-page {
  align-items: center; }
  .pagging-page .custom-select {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 15px; }
    .pagging-page .custom-select label {
      margin-bottom: 0; }
  .pagging-page .pagination {
    margin-bottom: 0; }

.btn-filter {
  margin-left: 10px;
  cursor: pointer; }

.box-filed {
  background-color: #fff;
  padding: 10px;
  margin: 5px; }

.box-nuoi-benh {
  height: 250px;
  display: flex; }
  .box-nuoi-benh .box-nguoi-nuoi-benh, .box-nuoi-benh .box-dang-nuoi-benh, .box-nuoi-benh .box-chua-nuoi-benh {
    border: 1px solid #699BF7;
    border-radius: 4px;
    padding: 40px;
    color: #485056;
    font-size: 18px;
    font-weight: 400;
    text-align: center; }
    .box-nuoi-benh .box-nguoi-nuoi-benh a, .box-nuoi-benh .box-dang-nuoi-benh a, .box-nuoi-benh .box-chua-nuoi-benh a {
      color: #525252; }
  .box-nuoi-benh .box-nguoi-nuoi-benh span {
    font-size: 24px;
    color: #02399F; }
  .box-nuoi-benh .box-dang-nuoi-benh {
    padding: 12px; }
    .box-nuoi-benh .box-dang-nuoi-benh span {
      color: #0CA537; }
  .box-nuoi-benh .box-chua-nuoi-benh {
    padding: 12px; }
    .box-nuoi-benh .box-chua-nuoi-benh span {
      color: #E00000; }

/*# sourceMappingURL=home.css.map */
