
$border:#F0F0EF;
$text:#323232;
$text-alpha:#BFBFBF;
$bg:#F3F4F2;
$yellow:#FCF1D5;

$brand:#404a63;

$text-des:#485056;

$secon:#4993a8;
/*-------------------------------------------------------------------- @media 1600px ----------------------------------------------------------------------*/
@media only screen and (max-width: 1601px) {
	
}
/*-------------------------------------------------------------------- @media 1200px ----------------------------------------------------------------------*/
@media only screen and (max-width: 1201px) {
	
}
/*-------------------------------------------------------------------- @media 950px ----------------------------------------------------------------------*/
@media only screen and (max-width: 950px) {
	
}
/*-------------------------------------------------------------------- @media 767px ----------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	
}