$brand:#404a63;
$border:#EAEAEA;
$text:#222222;
$text-des:#485056;
$bg:#F3F4F2;
$secon:#4993a8;
body{
	color: $text;
	font-size: 14px;
	background-color: #fff;
}
a{
	text-decoration: none;
	color: $text;
	outline: none;
	&:hover{
		color: $brand;
		text-decoration: none;
	}
}
img{
	max-width: 100%;
}
button{
	outline: none;
}

h1{
	font-size: 52px;
}
h2{
	font-size: 32px;
}
h3{
	font-size: 26px;
}
h4{
	font-size: 20px;
}
h5{
	font-size: 18px;
}
h6{
	font-size: 16px;
}
p{
	font-size: 14px;
}
b, span, label{
	font-size: 13px;
}
.mt-10{
	margin-top: 10px;
}
.mt-20{
	margin-top: 20px;
}
.mt-30{
	margin-top: 30px;
}
.mt-40{
	margin-top: 40px;
}
.mt-50{
	margin-top: 50px;
}
.mt-60{
	margin-top: 60px;
}
.mt-70{
	margin-top: 70px;
}
.mb-10{
	margin-bottom: 10px;
}
.mb-20{
	margin-bottom: 20px;
}
.mb-30{
	margin-bottom: 30px;
}
.mb-40{
	margin-bottom: 40px;
}
.mb-50{
	margin-bottom: 50px;
}
.mb-60{
	margin-bottom: 60px;
}
.mb-70{
	margin-bottom: 70px;
}

.m10{
	margin: 10px;
}
.m15{
	margin: 15px;
}
.m20{
	margin: 20px;
}
.m25{
	margin: 25px;
}
.m30{
	margin: 30px;
}
.m35{
	margin: 35px;
}
.m40{
	margin: 40px;
}
.m45{
	margin: 45px;
}
.m50{
	margin: 50px;
}
.m55{
	margin: 55px;
}
.m60{
	margin: 60px;
}
.m65{
	margin: 65px;
}
.m70{
	margin: 70px;
}
.ml-0{
	margin-left: 0;
}
.mr-0{
	margin-right: 0;
}
.mt-0{
	margin-top: 0;
}
.mb-0{
	margin-bottom: 0;
}

.p10{
	padding: 10px;
}
.p15{
	padding: 15px;
}
.p20{
	padding: 20px;
}
.p25{
	padding: 25px;
}
.p30{
	padding: 30px;
}
.p35{
	padding: 35px;
}
.p40{
	padding: 40px;
}
.p45{
	padding: 45px;
}
.p50{
	padding: 50px;
}
.p55{
	padding: 55px;
}
.p60{
	padding: 60px;
}
.p65{
	padding: 65px;
}
.p70{
	padding: 70px;
}
.pl-0{
	padding-left: 0;
}
.pr-0{
	padding-right: 0;
}
.pt-0{
	padding-top: 0;
}
.pb-0{
	padding-bottom: 0;
}
section{
	padding: 50px 0;
	display: inline-block;
	width: 100%;
	overflow: hidden;
	&.bg-gray{
		background: $bg;
	}
}
.selected {
  
    color: #333 !important;
}

.container{
	max-width: 1400px;
}

.center{
	text-align: center;
}
@mixin btn-common {
	background-color: $secon;
	font-weight: 400;
	color: #ffffff;
	font-size: 16px;
	padding: 10px 28px;
	border-radius: 2px;
	min-width: 130px;
	text-decoration: none;
	text-align: center;
	height: 45px;
	display: inline-block;
	transition: all .3s ease-in-out;
	&:focus{
		outline: none;
	}
}
@mixin hover{
	background-color: $secon;
	color: white;
	border: 0;
	
}
.display-none{
	display: none;
}

/*-------------------------- button ------------------------------*/
.btn-action{
	a{
		padding: 8px 12px 10px 12px;
		border-radius: 4px;
		color: #fff;
		display: inline-block;
		background: $secon;
		border: 1px solid $secon;
		font-size: 13px;
		font-weight: 500;
		height: 35px;
		text-align:center;
		i{
			&::before{
				font-size: 14px;
				margin-right: 5px;
			}
		}
		&:hover {
			color: $secon;
			display: inline-block;
			background: #fff;
			-webkit-transition: all 0.3s ease-in-out 0s;
			-o-transition: all 0.3s ease-in-out 0s;
			transition: all 0.3s ease-in-out 0s;
			
		}
	}
}
.btn-disable{
	a{
		background-color: #D9D9D9;
		border: 0;
	}
}
/*-------------------------- HEADER ------------------------------*/
.header-secon{
    background-color: #fff;
    height: 55px;
    padding: 10px;
    position: relative;
}
.logo{
	display: inline-block;
	margin-right: 15px;
}
.header-top {
	justify-content: space-between;
    align-items: center;
    display: flex;
	width: 100%;
    padding: 10px 15px 10px 15px;
	background-color: #fff;
	border-bottom: 1px solid #EAEAEA;
    height: 45px;
    z-index: 3;
	//box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
	.header-left{
		float: left;
	}
	
}
.account{
	.dropdown-item.active, .dropdown-item:active {
		
		background-color: #f8f9fa;
	}
	&:hover{
		.dropdown-menu{
			display: block !important;
			top: 27px;
    		left: -85px;
		}
	}
	.dropdown{
		margin-top: 10px;
		
		.dropdown-menu{
			border: 1px solid #93939326;
			.dropdown-item{
				color: #333;
				font-size: 14px;
			}
		}
	}
	
	button{
		background: none;
		border: 0;
		color: #c4c4c4;
		font-size: 18px;
		&:focus{
			outline: 0;
		}
	}
}
.account {
	position: relative;
	margin-left: 10px;
	display: inline-flex;
	align-items: center;
	
	img {
		width: 30px;
		height: 30px;
		border-radius: 100%;
	}
	p {
		font-size: 16px;
		color: $text;
		margin: 10px 5px;
		white-space: nowrap;
	}
	.arrow-down{
				text-decoration: none;
				color: #777777;
				margin-top: 12px;
				margin-left: 5px;

				}
	}
	
/* Search-filed */
.search-filed{
	width: 214px;
	position: relative;
	
	input {
		width: 100%;
		background: #FFFFFF;
		border: 1px solid #699BF7;
		border-radius: 40px;
		padding: 0 10px;
		height: 35px;
		outline: none;
		padding-left: 30px;
		color: #777777;
		&::placeholder{
			font-size: 12px;
			color: #696A6B;
		}
	}
	i {
		//z-index: 9999;
		position: absolute;
		top: 12px;
		left: 10px;
		font-size: 15px;
		color: #696A6B;
	}
}

/*-------------------------- Main CONTENT  ------------------------------*/
.main-content{
	height: 100%;
    //position: fixed;
    width: 100%;
    padding-left: 200px;
	.content-left{
		position: fixed;
		width: 200px;
		height: 100%;
		left: 0;
		top: 0;
		background: #404a63;
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
		padding: 10px;
		
		.danh-muc-ques{
			.title-danhmuc{
				display: flex;
				img{
					margin-right: 5px;
				}
				.title-left-ques{
					font-size: 18px;
					line-height: 18px;
					color: $text;
					margin: 0;
					font-weight: 600;
					
			}
			}
			
			.menu-admin{
				padding-left: 0;
				li{
					list-style: none;
					
					&.active{
						a{
						    color: white;
							background-color: #4993a8;
							padding: 5px 8px;
							border-radius: 4px;
						}
					}
					a{
						display: block;
						margin-top: 10px;
						font-size: 14px;
						color: #fff;
						text-decoration: none;
						padding: 5px 8px;
						img{
							margin-right: 10px;
						}
						&:hover{
						    color: white;
							background-color: $secon;
							padding: 5px 8px;
							border-radius: 4px;
							
						}
						
					}
				}
			}
		}
	}
	.content-right{
		position: relative;
	}
}
/* -----------Title------------- */
.main-title{
	a{
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 700;
		color: $text;
	}
}
/*--------------------- Table ----------------------*/
.table-lead{
    width: 100%;
    border: 1px solid $border;
	border-spacing: initial;
	color: $text;
	border-radius: 4px;
	white-space: nowrap;
	text-align: center;
	tr{
		&:hover{
			background-color: #f0f5f9;
			cursor: pointer;
		}
	}
	thead {
		background: #EAEAEA;
		color: #fff;
		font-size: 15px;
		font-weight: 600;
		color: $text;
		tr{
			th{
				padding: 10px;
			}
			
		}
	}
	tbody tr td {
		padding: 10px;
    	border-top: 1px solid $border;
	}
}
/*--------------- Scroll--------------- */

.scrollbar
{
	width: 100%;
    margin: auto;
	overflow-x: auto;
}

#wrapper
{
	text-align: center;
	width: 100%;
	margin: auto;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	border-radius: 4px;
    background-color: #b4b9bc;
}

#style-1::-webkit-scrollbar
{
	height: 2px;
    background-color: #b3b6b8;
}

#style-1::-webkit-scrollbar-thumb
{
    border-radius: 4px;
    background-color: #8a8b8b;
}
/* ------------Pagging------------------ */
.pagging-page{
	width: 100%;
	display: flex;
	margin-top: 25px;
    justify-content: right;
	ul{
		li{
			a, span{
				width: 25px;
				height: 25px;
				margin: 0 3px;
				text-align: center;
				font-size: 11px;
				display: inline-block;
				text-decoration: none;
				color: $text;
				padding: 5px;
				&.active{
					border: 1px solid $brand !important;
					color: $brand;
					border-radius: 4px;
				}
			}
			
			&:hover{
				a{
					color: $brand;
				}
			}
		}
	}
}
/* -----------------Breadrum----------------------------- */
.breadcrumb-box{
	display: inline-block;
	width: 100%;
	padding-top: 15px;
	
	nav{
		li{
			&::before{
				opacity: .4;
			}
			&:hover{
				cursor: pointer;
			}
		}
		ol{
			background: none;
		}
	}
	a{
		font-size: 12px;
		color: #6A6A6A;
	}
	.breadcrumb-item.active {
		color: #6A6A6A;
		font-size: 12px;
	}
}

/* --------------Input-filed-text---------------------*/
input{
	border: 1px solid #EAEAEA;
	   border-radius: 4px;
	   height: 35px;
	   padding-left: 10px;
	margin-right: 0;
	   width: 100%;
	&::placeholder{
	 font-size: 12px;
	 color: #6E7A8A;
	}
	&:focus{
	 border: 1px solid $brand;
	}
   }
   .input-filed{
	width: 100%;
	margin: 7px 0;
	   position: relative;
   
	label{
	 color: #222222;
	 font-weight: 600;
	 text-align: right;
	 float: left;
	 margin: 0;
	 margin-top: 8px;
	 padding-right: 10px;
	 
	}
	
   }
   .popup{
	.input-filed{
	 padding-left: 114px;
	 position: relative;
	}
	label{
	 width: 114px;
	 position: absolute;
	 left: 0;
	}
	 
   }


/* --------------Attach file--------------------*/
.attach-file{
	color: $text;
		font-weight: 600;
		margin-right:15px;
		.btn-file{
			border: 1px solid $border;
			border-radius: 4px;
			height: 35px;
			width: 105px;
			i{
		
				font-size: 18px;
				transform: rotate(45deg);
			}

		}

}
.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
  + .js-labelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	padding: 6px 20px 10px 20px;
	cursor: pointer;
	margin-bottom: 0;
	
  }
}
/* ---------------Table lead 02------------------- */
.table-lead-02{
	margin-top: 15px;
	padding: 0;
	.ma-nv{
		margin: 0 20px;
		font-size: 14px;
	}
	.hoten-nv{
		font-size: 14px;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		white-space: normal;
	}
	
	li{
		display: inline-grid;
		border-right: 1px solid $border;
		padding: 0;
		
		a{
			padding: 10px 0;
			border-bottom: 1px solid $border;
			display: flex;
			&:last-child{
				border-bottom: 0;
			}
		}
	}
}

  /* --------------Checkbox-------------------- */
 
  .input-custom {
	display: none;
  }
  .label-custom {
	color: $text-des;
	line-height: 1.2;
	display: flex;
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	align-items: center;
	font-size: 14px;
	margin-bottom: 15px;
	&:checked {
	  color: $secon !important;
	}
	&:before {
	  content: "\e64c";
	  font-family: "themify";
	  font-size: 16px;
	  color: transparent;
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  position: absolute;
	  width: 20px;
	  height: 20px;
	  opacity: 1;
	  border: 1px solid $text-des;
	  box-sizing: border-box;
	  border-radius: 4px;
	  left: 0;
	  top: 55%;
	  -webkit-transform: translateY(-50%);
	  -moz-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  -o-transform: translateY(-50%);
	  transform: translateY(-50%);
	}
  }
  .label-custom {
	&:checked {
	  color: $brand !important;
	}
  }
  
  .input-custom:checked + .label-custom::before {
	color: $brand;
	background-color: transparent;
	border: 1px solid $brand;
  }
  .input-custom:checked + .label-custom {
	color: $brand !important;
  }

 /* ------------------- Selecbox -------------------*/
 /* Custom select box */
.custom-select {
    height: 35px;
    background-color: transparent;
    border-radius: 4px;
    border: 0;
    position: relative;
    padding: 0;
	background: none;
	width: 160px;
	
  }
  
  .custom-select select {
	display: none; /*hide original SELECT element: */
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 10px;
	vertical-align: 0.255em;
	content: "";
	border-top: 0.3em solid;
	border-right: 0.3em solid transparent;
	border-bottom: 0;
	border-left: 0.3em solid transparent;
	color: $text-des;
	top: 18px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,
  .select-selected {
	color: $text;
	padding: 8px;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	font-size: 14px;
  }
  
  /* Style items (options): */
  .select-items {
	padding: 0 0;
    overflow: hidden;
    width: 100%;
    position: absolute;
    background-color: white;
    bottom: 25px;
    left: 0;
    right: 0;
    z-index: 99;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
	box-shadow: -1px 1px 14px rgba(138, 139, 159, 0.15);
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
	display: none;
  }
  
  .select-items div:hover,
  .same-as-selected {
	background-color: #F4F5F9;
  }
/*  ----------------------- Popup-------------------- */

	.nav-link.DSVisiter.active{
		color: $secon;
		background-color: #cdcde6;
		padding: 5px 8px;
		border-radius: 4px;
	}

.popup-medium{
	
	.popup{
		width: 1100px;
	}
}
.overlay {
	z-index: 3;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
  }
  .overlay:target {
	visibility: visible;
	opacity: 1;
  }
  
  .popup {
	margin: 30px auto;
    padding: 0;
    background: #fff;
    border-radius: 4px;
    width: 100%;
    position: relative;
  }
  
  .popup h3 {
	margin-top: 0;
    font-size: 16px;
    text-align: left;
    background-color: #F3F2F2;
    color: #222222;
    padding: 8px 5px 8px 20px;
    margin-bottom: 0;
    border-radius: 4px 4px 0 0;
  }
  .popup .close {
	position: absolute;
    top: -30px;
    right: 0px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    opacity: 1;
    text-shadow: none;
  }
  
  .popup .content {
	padding: 10px;
  }
 .edit-popup{
	position: absolute;
    right: 30px;
	top: 0;
	cursor: pointer;
 }
/*--------------------- LOGIN ----------------------*/

#login{
	padding: 15px 20px;
    background-color: $brand;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
	border: 1px $brand solid;
	&:hover {
		padding: 15px 20px;
		background-color: #fff;
		border-radius: 4px;
		font-size: 16px;
		color: $brand;
		border: 1px $brand solid;
	}
}
.login-section-wrapper{
    padding: 0 30px;
    margin-top: 0;
    height: 100% !important;
    display: flex;
    align-items: center !important;
  }
  .brand-wrapper {
	padding-top: 7px;
	padding-bottom: 8px;
	margin-bottom: 20px;
	.logo {
		height: 100px;
	}
}
.login {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	background-color: #fff;
	.col-sm-6 {
		padding: 0;
	}
	&-section-wrapper {
		display: flex;
		padding: 68px 100px;
		
		
	}
	&-wrapper {
		width: 350px;
		max-width: 100%;
		padding-top: 24px;
		padding-bottom: 24px;
		
		label {
			font-size: 14px;
			color: $text;
		}
		.form-control {
			border: 1px solid $border;
			border-radius: 4px;
			padding: 9px 10px;
			min-height: 45px;
			font-size: 14px;
			font-weight: normal;
			&::placeholder {
				color: #b0adad;
			}
		}
		.login-btn {
			.btn-comon {
				-webkit-appearance: button-bevel;
				  padding: 15px 20px;
				  background-color: $brand;
				  border-radius: 130px;
				  font-size: 16px;
				  color: #fff;
			  }
				margin-bottom: 14px;
				margin-top: 25px;
				text-transform: uppercase;
				background-color: #383F51 !important;
				color: white !important;
				height: 45px !important;
				border: 1px solid transparent;
				&:hover {
					color: #383F51 !important;
					background-color: white !important;
					border: 1px solid #383F51;
				}
		}
		a.forgot-password-link {
			color: $text-des;
			font-size: 14px;
			display: block;
			margin-bottom: 54px;
			text-align: center;
			&:hover {
				text-decoration: none;
			}
			
		}
		&-footer-text {
			font-size: 16px;
			color: $text;
			margin-bottom: 0;
		}
	}
	&-title {
		font-size: 30px;
		color: $text;
		font-weight: bold;
		margin-bottom: 25px;
	}
	&-img {
		width: 100%;
		height: 100vh;
		object-fit: cover;
		object-position: left;
	}
	.custom-control-label {
		color: $text-des!important;
	}
}
/* --------------- UPDATE LABEL --------------*/
.label-red{
    color: #C20C38;
    font-weight: 600;
}
.label-red-bg{
    color: #fff;
    background-color: #C90707;
    font-weight: 600;
    width: auto;
    height: 25px;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
}
.label-green-bg{
    color: #fff;
    background-color: #00972A;
    font-weight: 600;
    width: auto;
    height: 25px;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
}
.label-green{
    color: #00972A;
    font-weight: 600;
}
.label-blue{
    color: $secon;
    font-weight: 600;
}
/* --------------- END UPDATE LABEL --------------*/

/* ---------------  UPDATE NÚT SEARCH --------------*/
.btn-action.btn-search a{
	padding: 8px 5px 10px 12px;
	background: #3399FF;
    border: 1px solid #3399FF;
	&:hover{
	background: #fff;
    border: 1px solid #3399FF;
	color: $text;
	}
}
/* ---------------  UPDATE NÚT THÊM --------------*/
.btn-action.btn-add a{
	padding: 8px 15px 10px 20px;
    background: #3399FF;
    border: 1px solid #3399FF;
    border-radius: 20px;
	&:hover{
	background: #fff;
    border: 1px solid #3399FF;
	color: $text;
	}
}
/* ---------------  UPDATE POPUP ĐIỀU KIỆN SEARCH --------------*/
.btn-filter{
	position: relative;
}
.btn-back{
	cursor: pointer;
}
.popup-bo-loc{
	
	display: none;
	&.show-filter{
		display: block;
		position: absolute;
		top: 100px;
		right: 15px;
		margin: 10px 0;
		padding: 30px;
		width: 600px;
		background: #FFFFFF;
		border: 1px solid #DFDFDF;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	}
	.box-btn{
		display: flex;
		.btn-action.btn-back a{
			margin: 0 10px;
			padding: 8px 15px 10px 20px;
			background: #fff;
			border: 1px solid #C20C38;
			border-radius: 6px;
			color: #C20C38;
			font-size: 14px;
			&:hover{
			background: #C20C38;
			border: 1px solid #C20C38;
			color: #fff;
			}
		} 
		.btn-action.btn-filters a{
			margin: 0 10px;
			padding: 8px 15px 10px 20px;
			background: #fff;
			border: 1px solid #0C4EF5;
			border-radius: 6px;
			color: #0C4EF5;
			font-size: 14px;
			&:hover{
			background: #0C4EF5;
			border: 1px solid #0C4EF5;
			color: #fff;
			}
		} 
	}
   }
  
/*-------------------------- Số liệu dashboard ------------------------------*/ 
.box-statistic{
	margin: 0;
}
.statistic-01, .statistic-02, .statistic-03{
	color: white;
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	img{
		width: 50px;
		height: 50px;
	}
a{
	font-size: 22px;
	text-transform: uppercase;
	text-align: center;
}
span{
	font-size: 36px;
	font-weight: 600;
}

}
.statistic-01{
	background-color: #FFA0A0;

}
.statistic-02{
	background-color:  #FEB700;

}
.statistic-03{
	background-color: #5691FF;
}
/*-------------------------- End Số liệu dashboard ------------------------------*/ 

// /*-------------------------- @media 1600px------------------------------*/
@media only screen and (max-width: 1601px) {
	.container{
		max-width: 1200px;
	}
}
/*-------------------------- @media 1200px------------------------------*/
@media only screen and (max-width: 1201px) {
	
}
/*-------------------------- @media 950px------------------------------*/
@media only screen and (max-width: 950px) {
	
}
/*-------------------------- @media 767px------------------------------*/
@media only screen and (max-width: 767px) {
	
}